In [ ]:
#vamos a limpiar cada csv, para que sea más fácil trabajar con ellos
#En la columna nombre  vamos a homogeneizar los nombres
#Vamos a poner en la columna name, todos los nombres en minusclas. Los espacios los vamos a sustitir por guion bajo.
#Vamos a quitar los acentos y las tildes

In [1]:
import pandas as pd

In [2]:
#cargar csv
df = pd.read_csv('mixto_30_popularidad_ventas.csv')
#lo guardamos con el nombre df_quienvendemas
df_quienvendemas = df
#vamos a establecer como columnas la primera fila
df_quienvendemas.columns = df_quienvendemas.iloc[0]

In [3]:
#vamos a limpiar las columnas Woman y Men-M
df_quienvendemas[['Woman', 'Men-M']] = df_quienvendemas[['Woman', 'Men-M']].apply(lambda x: x.str.lower())
df_quienvendemas[['Woman', 'Men-M']] = df_quienvendemas[['Woman', 'Men-M']].apply(lambda x: x.str.replace(' ', '_'))
#vamos a quitar los acentos y las tildes
df_quienvendemas[['Woman', 'Men-M']] = df_quienvendemas[['Woman', 'Men-M']].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))
#guardamos el csv
df_quienvendemas.to_csv('quien_vende_mas.csv', index=False)

In [4]:
#cargar siguiente csv   
df = pd.read_csv('nombre_poder_total.csv')  
#lo guardamos con el nombre df_marvelcaracteristicas
df_marvelcaracteristicas = df
#vamos a limpiar la columna name    
df_marvelcaracteristicas['Name'] = df_marvelcaracteristicas['Name'].str.lower()
df_marvelcaracteristicas['Name'] = df_marvelcaracteristicas['Name'].str.replace(' ', '_')
#vamos a quitar los acentos y las tildes
df_marvelcaracteristicas['Name'] = df_marvelcaracteristicas['Name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#guardamos el csv
df_marvelcaracteristicas.to_csv('marvel_caracteristicas.csv', index=False)

In [5]:
#cargar siguiente csv
df = pd.read_csv('Id_nombre_genero.csv')
#lo guardamos con el nombre df_nombres_genero
df_nombres_genero = df      
#vamos a limpiar la columna Name    
df_nombres_genero['Name'] = df_nombres_genero['Name'].str.lower()
df_nombres_genero['Name'] = df_nombres_genero['Name'].str.replace(' ', '_')
#vamos a quitar los acentos y las tildes
df_nombres_genero['Name'] = df_nombres_genero['Name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
#guardamos el csv
df_nombres_genero.to_csv('nombres_genero.csv', index=False)

In [6]:
#Ahora comprovamos los nulos de los csv
df_quienvendemas.isnull().sum()

0
Rango                             0
Woman                             0
Popularidad_W                     0
Ventas Estimadas (Millones)-W     0
NaN                              31
Men-M                             0
Popularidad-M                     0
Ventas Estimadas (Millones)_M     0
dtype: int64

In [7]:
df_marvelcaracteristicas.isnull().sum()

Name            0
Alignment       3
Intelligence    0
Strength        0
Speed           0
Durability      0
Power           0
Combat          0
Total           0
dtype: int64

In [8]:
#Aqui sustituimos los nulos de Aligegnment por el que mas se repite
df_marvelcaracteristicas['Alignment'].value_counts()
df_marvelcaracteristicas['Alignment'].fillna('good', inplace=True)
df_marvelcaracteristicas.isnull().sum()

C:\Users\Propietario\AppData\Local\Temp\ipykernel_3556\1487805980.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_marvelcaracteristicas['Alignment'].fillna('good', inplace=True)

Name            0
Alignment       0
Intelligence    0
Strength        0
Speed           0
Durability      0
Power           0
Combat          0
Total           0
dtype: int64

In [9]:
df_nombres_genero.isnull().sum()

ID            0
Name          0
Alignment     0
Gender        0
EyeColor      0
Race          0
HairColor     0
Publisher    15
SkinColor     0
Height        0
Weight        2
dtype: int64

In [21]:
#aqui eliminamos las columnas, EyeColor, Hair, SkinColor, Height, Weight, Publisher
df_nombres_genero.drop(['EyeColor',  'SkinColor', 'Height', 'Weight', 'Publisher'], axis=1, inplace=True)

KeyError: "['EyeColor', 'SkinColor', 'Height', 'Weight', 'Publisher'] not found in axis"

In [16]:
#guardamos el csv
df_nombres_genero.to_csv('nombres_genero.csv', index=False)

In [17]:
df_nombres_genero

,ID,Name,Alignment,Gender,Race,HairColor
0,0,a-bomb,good,Male,Human,No Hair
1,1,abe_sapien,good,Male,Icthyo Sapien,No Hair
2,2,abin_sur,good,Male,Ungaran,No Hair
3,3,abomination,bad,Male,Human / Radiation,No Hair
4,4,abraxas,bad,Male,Cosmic Entity,Black
...,...,...,...,...,...,...
729,729,yellowjacket_ii,good,Female,Human,Strawberry Blond
730,730,ymir,good,Male,Frost Giant,No Hair
731,731,yoda,good,Male,Yoda's species,White
732,732,zatanna,good,Female,Human,Black
733,733,zoom,bad,Male,-,Brown

In [18]:
#ahora vamos a borrar la colummna ID, la columna Race y HairColor
df_nombres_genero.drop(['ID','Race', 'HairColor'], axis=1, inplace=True)
#guardamos el csv  
df_nombres_genero.to_csv('nombres_genero.csv', index=False)

In [19]:
df_nombres_genero

                Name Alignment  Gender
0             a-bomb      good    Male
1         abe_sapien      good    Male
2           abin_sur      good    Male
3        abomination       bad    Male
4            abraxas       bad    Male
..               ...       ...     ...
729  yellowjacket_ii      good  Female
730             ymir      good    Male
731             yoda      good    Male
732          zatanna      good  Female
733             zoom       bad    Male

[734 rows x 3 columns]

In [20]:
df_marvelcaracteristicas

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-d_man,good,50,31,43,32,25,52,233
1,a-bomb,good,38,100,17,80,17,64,316
2,abe_sapien,good,88,14,35,42,35,85,299
3,abin_sur,good,50,90,53,64,84,65,406
4,abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,yellowjacket,good,88,10,12,28,12,14,164
607,yellowjacket_ii,good,50,10,35,28,31,28,182
608,ymir,good,50,100,27,100,83,28,388
609,zatanna,good,75,10,23,28,100,56,292
610,zoom,bad,50,10,100,28,72,28,288